body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: flex;
  border: 1px solid black;
  margin-top: 5px;
}
.container img{
  margin-top: 10px;
}
.container ul{
  list-style-type: none
}

.greeting{
  border: 1px solid black;
  margin-top: 5px;
}
.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.creditCardContainer{
  border-radius: 2%;
  margin-top: 5px;
  max-width: 300px;
  padding: 0px 10px 0px 10px;
  margin-left: 100px;
}
.visa{
  text-align: right;
}
.number{
  text-align: center;

}